name: Publish to Crates.io
env:
  CARGO_TERM_COLOR: always
  RUST_TOOLCHAIN: stable

on:
  push:
    tags: ["v*"]

jobs:
  publish:
    name: Publish Rust crate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - uses: Swatinem/rust-cache@v2

      - name: Publish to crates.io
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish --all-features --verbose
