name: Testing
permissions:
  contents: read

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  testing:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis:latest
        ports:
          - 6379:6379

    steps:
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Checkout code
        uses: actions/checkout@v5

      - uses: Swatinem/rust-cache@v2

      - name: Run Tests
        run: cargo test

      - name: Run examples
        run: cargo run --example greeting